<div class="container-fluid shadow bg-secondary p-3">
    <ul>
        <li style="display:inline;">
              <a style="color:#002966;text-decoration:none;font-family:vardana;" href="/"><h3>MyBlog</h3></a></li>
    </ul>
    <ul>
        {% if request.user.is_authenticated %}
              <li style="display:inline;">
                  <a class="cls1" href="{% url 'home' %}">Home</a></li>
              <li style="display:inline;margin-left:20px">
                  <a class="cls1" href="{% url 'profile' %}">Profile</a></li>
              <li style="display:inline;margin-left:20px">
                  <a class="cls1" href="{% url 'dashboard' %}">Dashboard</a></li>
              <li style="display:inline;margin-left:20px">
                  <a class="cls1" href="{% url 'about' %}">About</a></li>
              <li style="display:inline;float:right;margin-right:20px;margin-left:20px;">
                  <a class="cls1" href="{% url 'logout' %}">Logout</a></li>
              <li style="display:inline;float:right;">
                  <a href="{% url 'profile' %}" style="color:#002966;text-decoration:none;font-size:20px;font-family:vardana;">
                      {{ request.user.first_name }} {{ request.user.last_name }}</a></li>
        {% else %}
              <li style="display:inline;">
                  <a class="cls1" href="{% url 'home' %}">Home</a></li>
              <li style="display:inline;margin-left:20px">
                  <a class="cls1" href="{% url 'about' %}">About</a></li>
              <li style="display:inline;float:right;margin-right:20px;">
                  <a class="cls1" href="{% url 'signup' %}">Sign Up</a></li>
              <li style="display:inline;float:right;margin-right:20px;">
                  <a class="cls1" href="{% url 'login' %}">Login</a></li>
        {% endif %}

    </ul>

</div>