{% extends "app1/base.html" %}

{% block content %}
    <div class="container" style="margin-top: 20px;color: white;">
        <div class="row">
        	<div class="col-md-6">
        		<p>Full Name :</p>
    		</div>
    		<div class="col-md-6">
        		<p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
    		</div>
		</div>
		<div class="row" style="margin-top: 20px;">
        	<div class="col-md-6">
        		<p>UserName :</p>
    		</div>
    		<div class="col-md-6">
        		<p>{{ request.user.username }}</p>
    		</div>
		</div>
		<div class="row" style="margin-top: 20px;">
        	<div class="col-md-6">
        		<p>Email :</p>
    		</div>
    		<div class="col-md-6">
        		<p>{{ request.user.email }}</p>
    		</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-12">
				<a href="">You can change your password here.</a>
			</div>
		</div>
    </div>

{% endblock %}